/* NAVBAR CSS */
.navbar-nav {
  flex-direction: row;
}

.navbar, body {
  background-color: #00aced;
}

.navbar {
  padding: 0px;
}

.lk {
  margin: 0;
}

.lk a {
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  padding: 20px;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

/* /////////// */
/* RESPONSIVE - MAKES MAIN CONTAINERS STACK VERTICALLY INSTEAD OF HORIZANTALLY */
@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
    width: 100%;
  }
}

/* /////////// */
.btn-round {
  border-radius: 30px;
}

/* TEXT CSS */
.text-cyan {
  color: #35bdff;
}

.text-white {
  color: #fff !important;
  background-color: white;
}

.success-text {
  font-weight: 700;
  background-color: #00aced;
  font-size: xx-large;
}

.survey-form {
  color: black;
  font-weight: 700;
  font-size: xx-large;
}

/* BACKGROUND COLORS */
.bg-blue, .ideas {
  background: #00aced;
}

/* ////////////// */
/* MAIN BUTTON STYLING */
.btn-primary {
  color: #fff;
  background-color: #00aced;
  border-color: #00aced;
}

.btn-primary:hover {
  color: #fff;
  background-color: #00acedcc;
  border-color: #00acedcc;
}

.btn-white:hover {
  color: #00acedcc;
  background-color: #ededed;
  border-color: #ededed;
}

.btn-white {
  color: #00acedcc;
  background-color: #fff;
  border-color: #fff;
}

a:hover {
  background-color: #66666630;
  text-decoration: none;
  color: white;
}

/* ASK TOM TITLE */
.title {
  text-decoration: none;
  -webkit-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -moz-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -ms-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -o-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.8;
  color: #00aced;
  text-shadow: 0 -1px 15px rgba(255, 255, 255, 0.9), 0 1px 0 #00aced, 0 3px 0 #00aced, 0 5px 0 #00aced, 0 7px 0 #00aced, 0 9px 0 #00aced, 0 6px 50px rgba(255, 255, 255, 0.8);
}

.title:first-line {
  font-size: 0.8em;
}

.title:hover {
  -webkit-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -moz-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -ms-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -o-transform: perspective(8em) rotateX(11deg) scale(1.2);
  transform: perspective(8em) rotateX(11deg) scale(1.2);
  text-shadow: 0 -1px 15px rgba(255, 255, 255, 0.9), 0 1px 0 #00aced, 0 3px 0 #00aced, 0 5px 0 #00aced, 0 7px 0 #00aced, 0 9px 0 #00aced, 0 6px 50px rgba(255, 255, 255, 0.8);
}

/* /////////////// */
/* MAIN DROPDOWN CSS */
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  width: auto;
  border-radius: 2px;
}

.select-dropdown select {
  width: 100%;
  font-family: "helvetica neue", helvetica;
  font-size: 1rem;
  font-weight: 200;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}

.select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aaa;
}

/* //////////// */
/* STYING FOR IDEA */
.idea-card {
  background-color: #ffffff3d;
  color: #fff;
  padding: 15px;
}

.idea-button {
  background-color: white;
  font-size: 1.4rem;
  color: #055c7d;
}


.idea-button:hover {
  color: #4e9eee;
}

.idea-c {
  overflow: scroll;
}

.idea-ul {
  margin-top: 0;
  margin-bottom: 1rem;
  top: 25%;
  position: relative;
}