@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto");

/* NAVBAR CSS */
.navbar-nav {
  flex-direction: row;
}

.navbar, body {
  background-color: #00aced;
}

.navbar {
  padding: 0px;
}

.nav-bar {
  height: 8vh;
}

.lk {
  margin: 0;
}

.lk a {
  padding: 24px;
  font-size: 20px;
  font-weight: 200;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  padding: 20px;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

/* /////////// */
/* RESPONSIVE - MAKES MAIN CONTAINERS STACK VERTICALLY INSTEAD OF HORIZANTALLY */
@media (min-width: 768px) {
  .h-md-100 {
    height: 92vh;
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 736px) {
  .nav-bar {
    height: 8vh;
    margin-bottom: 6%;
  }

  /* .layer:after {
    font: 35px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
    content: 'Tracy';
    white-space: pre;
    text-align: left;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50px;
    color: whitesmoke;
    letter-spacing: -2px;
    text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
  } */
  input {
    width: 100% !important;
  }

  .stage, .stage-container {
    display: none;
  }
}

/* /////////// */
.btn-round {
  border-radius: 30px;
}

/* TEXT CSS */
.text-cyan {
  color: #35bdff;
}

.text-white {
  color: #fff !important;
  background-color: white;
}

.text-white-i {
  color: #fff !important;
  font-weight: 900;
}

.success-text {
  font-weight: 700;
  background-color: #00aced;
  font-size: xx-large;
}

.survey-form {
  color: black;
  font-weight: 600;
  font-size: xx-large;
  font-family: Poppins;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}

::-webkit-input-value {
  /* Chrome/Opera/Safari */
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}

/* BACKGROUND COLORS */
.bg-blue, .ideas {
  background: #00aced;
}

/* ////////////// */
/* MAIN BUTTON STYLING */
.btn-primary {
  color: #fff;
  background-color: #00aced;
  border-color: #00aced;
  font-family: Poppins;
  font-weight: 900;
}

.btn-primary:hover {
  color: #fff;
  background-color: #00acedcc;
  border-color: #00acedcc;
}

.btn-white:hover {
  color: #00acedcc;
  background-color: #ededed;
  border-color: #ededed;
}

.btn-white {
  color: #00acedcc;
  background-color: #fff;
  border-color: #fff;
}

a:hover {
  background-color: #66666630;
  text-decoration: none;
  color: white;
}

/* ASK TOM TITLE */
.title {
  text-decoration: none;
  -webkit-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -moz-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -ms-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -o-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.8;
  color: #00aced;
  text-shadow: 0 -1px 15px rgba(255, 255, 255, 0.9), 0 1px 0 #00aced, 0 3px 0 #00aced, 0 5px 0 #00aced, 0 7px 0 #00aced, 0 9px 0 #00aced, 0 6px 50px rgba(255, 255, 255, 0.8);
}

.title:first-line {
  font-size: 0.8em;
}

.title:hover {
  -webkit-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -moz-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -ms-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -o-transform: perspective(8em) rotateX(11deg) scale(1.2);
  transform: perspective(8em) rotateX(11deg) scale(1.2);
  text-shadow: 0 -1px 15px rgba(255, 255, 255, 0.9), 0 1px 0 #00aced, 0 3px 0 #00aced, 0 5px 0 #00aced, 0 7px 0 #00aced, 0 9px 0 #00aced, 0 6px 50px rgba(255, 255, 255, 0.8);
}

/* /////////////// */
/* MAIN DROPDOWN CSS */
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  width: auto;
  border-radius: 2px;
}

.select-dropdown select {
  width: 100%;
  font-family: "helvetica neue", helvetica;
  font-size: 1rem;
  font-weight: 200;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}

.select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aaa;
}

/* //////////// */
/* STYING FOR IDEAS */
.idea-card {
  background-color: #ffffff3d;
  color: #02428d;
  padding: 15px;
  margin: 21px;
}

.idea-button {
  background-color: white;
  font-size: 1rem;
  color: #055c7d;
  font-family: Poppins !important;
  font-weight: 900;
}

ul {
  list-style-type: none;
}

.idea-button:hover {
  color: #4e9eee;
}

.idea-c {
  overflow: scroll;
  width: 100%;
}

.idea-ul {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
  position: relative;
  list-style-type: none;
}

.idea-ul li {
  background-color: #00aced26;
}

/* //////////// */
/* Names */
.stage {
  height: 300px;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0 !important;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer, .layer-2, .layer-3 {
  width: 50%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.layer:after {
  font: 35px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
  content: 'Tracy🦙';
  white-space: pre;
  text-align: left;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0px;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer-2:after {
  font: 35px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
  content: 'Angelo🔥';
  white-space: pre;
  text-align: left;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 12em;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer-3:after {
  font: 35px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
  content: 'Shemar🤠';
  white-space: pre;
  text-align: left;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 9em;
  left: 4em;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after, .layer-2:nth-child(1):after, .layer-3:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after, .layer-2:nth-child(2):after, .layer-3:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after, .layer-2:nth-child(3):after, .layer-3:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer:nth-child(4):after, .layer-2:nth-child(4):after, .layer-3:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after, .layer-2:nth-child(5):after, .layer-3:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer:nth-child(6):after, .layer-2:nth-child(6):after, .layer-3:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after, .layer-2:nth-child(7):after, .layer-3:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer:nth-child(8):after, .layer-2:nth-child(8):after, .layer-3:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after, .layer-2:nth-child(9):after, .layer-3:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer:nth-child(10):after, .layer-2:nth-child(10):after, .layer-3:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after, .layer-2:nth-child(11):after, .layer-3:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer:nth-child(12):after, .layer-2:nth-child(12):after, .layer-3:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after, .layer-2:nth-child(13):after, .layer-3:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer:nth-child(14):after, .layer-2:nth-child(14):after, .layer-3:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after, .layer-2:nth-child(15):after, .layer-3:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer:nth-child(16):after, .layer-2:nth-child(16):after, .layer-3:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after, .layer-2:nth-child(17):after, .layer-3:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer:nth-child(18):after, .layer-2:nth-child(18):after, .layer-3:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after, .layer-2:nth-child(19):after, .layer-3:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer:nth-child(20):after, .layer-2:nth-child(20):after, .layer-3:nth-child(20):after {
  transform: translateZ(-28.5px);
}

.layer:nth-child(n+10):after, .layer-2:nth-child(n+10):after, .layer-3:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after, {
  -webkit-text-stroke: 15px pink;
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

.layer-2:nth-child(n+11):after, {
  -webkit-text-stroke: 15px red;
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

.layer-3:nth-child(n+11):after, {
  -webkit-text-stroke: 15px yellow;
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px pink;
}

.layer-2:nth-child(n+12):after {
  -webkit-text-stroke: 15px red;
}

.layer-3:nth-child(n+12):after {
  -webkit-text-stroke: 15px yellow;
}

.layer:last-child:after, .layer-2:last-child:after, .layer-3:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after, .layer-2:first-child:after, .layer-3:first-child:after {
  color: #fff;
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% {
    transform: rotateY(-40deg) rotateX(-43deg);
  }
}

/* //////////// */
/* Modal CSS */
.modal-title {
  font-family: Poppins;
  font-weight: 900;
}

.modal-header {
  border-bottom: 0px;
}

.modal-footer {
  border-top: 0px;
}

.modal-content {
  width: 75%;
}

.modal-dialog-centered {
  left: 9%;
}

.idea-list-dropdown {
  margin-top: 15px;
}

/* FAVORITE LIST STYLING */
.favorite-ul {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
}

.favorite-title {
  text-decoration: none;
  -webkit-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -moz-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -ms-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -o-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.8;
  color: white;
  text-shadow: 0 -1px 15px rgba(255, 255, 255, 0.9), 0 1px 0 #00aced, 0 3px 0 #00aced, 0 5px 0 #00aced, 0 7px 0 #00aced, 0 9px 0 #00aced, 0 6px 50px rgba(255, 255, 255, 0.8);
}

.favorite-title:first-line {
  font-size: 0.8em;
}

.favorite-title:hover {
  -webkit-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -moz-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -ms-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -o-transform: perspective(8em) rotateX(11deg) scale(1.2);
  transform: perspective(8em) rotateX(11deg) scale(1.2);
  text-shadow: 0 -1px 15px rgba(255, 255, 255, 0.9), 0 1px 0 #00aced, 0 3px 0 #00aced, 0 5px 0 #00aced, 0 7px 0 #00aced, 0 9px 0 #00aced, 0 6px 50px rgba(255, 255, 255, 0.8);
}

/* /////////////// */
/* WEBKIT SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

.i-s {
  overflow: visible;
  font-size: 12;
  font-family: Poppins;
  text-align: center;
  font-weight: 600;
}

::-webkit-scrollbar-thumb {
  background: #02428d;
}